<?xml version="1.0" encoding="utf-8"?>

<!--Develop config-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings xdt:Transform="Replace">
    <add key="LogDir" value="c:\EsamLogs\api\office\reg" />
    <add key="RedisUri" value="10.1.0.216,10.1.0.67,10.1.0.168" />
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="EsamLogConnString" connectionString="server=10.1.0.5\SQL2017;database=esam01;uid=esam_reg;password=9jk2wVuN8B36LuiWvIcO;Max Pool Size=50;Connect Timeout=120" />
    <add name="EsamConnString" connectionString="server=10.1.0.5\SQL2017;database=esam01;uid=esam_reg;password=9jk2wVuN8B36LuiWvIcO;Max Pool Size=50;Connect Timeout=120" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>