<?xml version="1.0" encoding="utf-8"?>

<!--Develop config-->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings xdt:Transform="Replace">
    <add key="LogDir" value="c:\EsamLogs\api\office\reg" />
    <add key="RedisUri" value="sd1esamrd21.datalan.sk:6379" />
    <add key="StsThumbprint" value="Thumbprint" />
    <add key="DebugTokenId" value="Token" />
    <add key="DebugDcomId" value="00000000-0000-0000-0000-000000000000" />
    <add key="DebugTenantId" value="00000000-0000-0000-0000-000000000000" />
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="EsamLogConnString" connectionString="server=sd1esamdb31.datalan.sk\SQL2017;database=esam01;uid=esam_reg;password=9jk2wVuN8B36LuiWvIcO;Max Pool Size=50;Connect Timeout=120" />
    <add name="EsamConnString" connectionString="server=sd1esamdb31.datalan.sk\SQL2017;database=esam01;uid=esam_reg;password=9jk2wVuN8B36LuiWvIcO;Max Pool Size=50;Connect Timeout=120" />
  </connectionStrings>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

</configuration>