<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="LogDir" value="c:\EsamLogs\api\pfe"/>
    <add key="DebugTokenId" value="DebugToken"/>
    <add key="RedisUri" value="sd1esamrd21.datalan.sk:6379"/>
    <add key="StsThumbprint" value="5C 38 45 60 C3 D1 AE CD B6 8A AD 64 BD 14 DE 8C DD 6E F6 CD"/>
    <add key="DebugDcomId" value="00000000-0000-0000-0000-000000000001"/>
    <add key="DebugTenantId" value="00000000-0000-0000-0000-000000000000"/>
    <add key="DebugSessionFilePath" value="c:\tmp\egovDebugSession.json"/>
    <add key="ServerAdressDoc" value="file://///sd1esambe01.datalan.sk/esam/api/office/dms/WebDav/"/>
  </appSettings>
  
  <connectionStrings>
    <add name="EsamLogConnString" connectionString="server=sd1esamdb31.datalan.sk\SQL2017;database=esam01;uid=esam_reg;password=9jk2wVuN8B36LuiWvIcO;Max Pool Size=50;Connect Timeout=120"/>
    <add name="EsamConnString" connectionString="server=sd1esamdb31.datalan.sk\SQL2017;database=esam01;uid=esam_pfe;password=tH6fp5BDEh7fmjggbfgK;Max Pool Size=50;Connect Timeout=120"/>
  </connectionStrings>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true"/>
    </handlers>

    <security>
      <requestFiltering>
        <!-- This will handle requests up to 350MB -->
        <requestLimits maxAllowedContentLength="4294967295"/>
      </requestFiltering>
    </security>
    
  </system.webServer>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2"/>
    <httpRuntime targetFramework="4.7.2" maxRequestLength="2147483647"/>
    <authentication mode="Windows"/>
  </system.web>
  
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Ninject" publicKeyToken="C7192DC5380945E7" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.3.4.0" newVersion="3.3.4.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
