Thumbs.db
*.obj
*.pdb
/*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
packages/
Debug/
*.dbmdl
*.ncrunchproject
*.ncrunchsolution
Deploy/
Deployment/WebPackages/
/UnitTest
/Build
*.svclog
/*.jmconfig

#ncrunch
*ncrunch*
*crunch*.local.xml
Libraries/WebEas.Services.Esb.Test.dll.config
.vs/
