<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="RedisUri" value="sd1esamrd21.datalan.sk:6379" />
    <add key="LogDir" value="c:\EsamLogs\api\office\rzp" />
    <add key="StsThumbprint" value="CN=svc_egov_obs, OU=Services, OU=Users, OU=BA, OU=DCOM, DC=dev, DC=dcom, DC=sk" />
    <add key="DebugTokenId" value="AQIC5wM2LY4SfczJ0yBp_56St5vtWALXPpKYhOaC6T4z8gc.*AAJTSQACMDIAAlNLABQtMTk0MzA1MzMyMDc3MDU1MjkyNAACUzEAAjAx*"/>
    <add key="DebugDcomId" value="00000000-0000-0000-0000-000000000000"/>
    <add key="DebugTenantId" value="00000000-0000-0000-0000-000000000000"/>
    <add key="DebugSessionFilePath" value="c:\tmp\egovDebugSession.json"/>
  </appSettings>
  
  <connectionStrings>
    <add name="EsamLogConnString" connectionString="server=5CD7450CWL\SQL2017;database=BladeSlice2019;uid=sa;password=Blejdik278;Max Pool Size=50;Connect Timeout=120" />
    <add name="EsamConnString" connectionString="server=5CD7450CWL\SQL2017;database=BladeSlice2019;uid=sa;password=Blejdik278;Max Pool Size=50;Connect Timeout=120" />
  </connectionStrings>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.HttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>

  <system.web>
    <compilation debug="true" targetFramework="4.7.1" />
    <httpRuntime targetFramework="4.7.1" />
    <authentication mode="Windows" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120E14C03D0593C" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
