<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information,ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\logs\TracingAndLogging-client.svclog" type="System.Diagnostics.XmlWriterTraceListener" name="xml" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
  <appSettings>
    <add key="FormsUrlPrefix" value="/egov/forms/" />
    <add key="ststhumbprint" value="cn=svc_egov_reg, ou=services, ou=users, ou=ba, ou=dcom, dc=dev, dc=dcom, dc=sk" />
    <!--<add key="StsThumbprint" value="CN=svc_egov_reg, OU=Services, OU=Users, OU=Deus, OU=DCOM, DC=test, DC=dcom, DC=sk" />-->
    <!--<add key="StsThumbprint" value="CN=svc_egov_reg, OU=Services, OU=Users, OU=Deus, OU=DCOM, DC=intra, DC=dcom, DC=sk" />-->
    <add key="StsSpEndpoint" value="https://lbsoa.intra.dcom.sk/soa/trust" />
    <add key="StsIdpEndpoint" value="https://lbsts.intra.dcom.sk:49443/adfs/services/trust/13/certificatetransport" />
    <!-- Aktualnu verziu token id je mozne ziskat z linky https://egov.intra.dcom.sk/egov/api/osoba/sessioninfo -->
    <add key="DebugSessionFilePath" value="c:\tmp\egovDebugSession.json"/>
  <add key="GreyLogHost" value="si1logs01.dev.dcom.sk:tcp:20514" />
  </appSettings>
  <system.serviceModel>
    <diagnostics performanceCounters="All">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxMessagesToLog="2147483647" maxSizeOfMessageToLog="2147483647" />
    </diagnostics>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientInspectorsAdded">
          <clientInterceptors />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="clientInterceptors" type="WebEas.Log.WebEasLogMessageInspector, WebEas.Core.Common" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" /></startup></configuration>
