<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <appSettings>
    <add key="ServerAdressDoc" value="file://///sd1esambe01.datalan.sk/esam/api/office/dms/WebDav/"/>
  </appSettings>
  
  <connectionStrings>
    <add name="EsamLogConnString" connectionString="server=sd1esamdb31.datalan.sk\SQL2017;database=esam01;uid=esam_reg;password=9jk2wVuN8B36LuiWvIcO;Max Pool Size=50;Connect Timeout=120"/>
    <add name="EsamOsaConnString" connectionString="server=sd1esamdb31.datalan.sk\SQL2017;database=esam01;uid=esam_osa;password=82346gdKJGHwqslfdhow;Max Pool Size=50;Connect Timeout=120"/>
    <add name="EsamDapConnString" connectionString="server=sd1esamdb31.datalan.sk\SQL2017;database=esam01;uid=esam_dap;password=Ib723JHlf970ulwejkfJ;Max Pool Size=50;Connect Timeout=120"/>
    <add name="EsamPfeConnString" connectionString="server=sd1esamdb31.datalan.sk\SQL2017;database=esam01;uid=esam_pfe;password=tH6fp5BDEh7fmjggbfgK;Max Pool Size=50;Connect Timeout=120"/>
  </connectionStrings>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="00:05:00" closeTimeout="00:05:00" sendTimeout="00:05:00" receiveTimeout="00:05:00">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://isodatalan.intra.dcom.sk/DCOMService/OsaService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding"
                contract="IsoOsa.OsobyAdresy" name="BasicHttpsBinding_OsobyAdresy" />
            <endpoint address="https://isodatalan.intra.dcom.sk/DCOMService/DapService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding"
                contract="IsoDap.IDanePoplatky" name="BasicHttpsBinding_IDanePoplatky" />
        </client>
    </system.serviceModel>
</configuration>